.input {
  color: black;
  transition: color 0.2s ease;
  &.active {
    color: greenyellow;
  }
  &.unactive {
    color: red;
  }
}

.errors {
  display: flex;
  flex-direction: column;
}

.error {
  display: flex;
  color: #145388;

  &.active {
    color: red;
  }
  &.unactive {
    color: #145388;
  }
  &:first-child {
    margin-top: 10px;
  }
}

.icon {
  position: absolute;
  top: 38px;
  right: 10px;
  cursor: pointer;
}

.icon-login {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.accordion-content {
  border-top: 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6;
  height: 0px;
  overflow: hidden;
  transition: all 0.25s linear;
}

.accordion-content.active {
  height: auto;
}
